<p>
  <b>Name:</b>
  <%=h @segment.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @segment.description %>
</p>


<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>