<kintera:template name="eStore" meta="CRI.kdf" files="1,2,3,4" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script src="http://www.equipresources.org/atf/cf/{9C4EE03A-F988-4091-84BD-F8E70A3B0215}/JQUERY.JS" type="text/javascript"></script>
		<script src="/javascripts/jqueryslidemenu.js?1238000508" type="text/javascript"></script>
		<link href="http://www.equipresources.org/atf/cf/{9c4ee03a-f988-4091-84bd-f8e70a3b0215}/SITE7.CSS" media="screen" rel="stylesheet" type="text/css" />
		<link href="http://www.equipresources.org/atf/cf/{9c4ee03a-f988-4091-84bd-f8e70a3b0215}/site/layout/default.css" rel="stylesheet" type="text/css">
                <link href="http://www.equipresources.org/atf/cf/{9c4ee03a-f988-4091-84bd-f8e70a3b0215}/site/layout/content.css" rel="stylesheet" type="text/css">
		
		<title>Christian Research Institute</title>
</head>

<body>
<div id="bgcontainer">
<div id="container">


<div class="nav">
				<img alt="Equip-head" src="http://www.equipresources.org/atf/cf/{9c4ee03a-f988-4091-84bd-f8e70a3b0215}/EQUIP-HEADER.JPG">
				<div id="myslidemenu" class="jqueryslidemenu">
					<ul>
						<li><a href="http://www.equip.org">Home</a></li>
						<li><a href="http://www.equipresources.org/site/apps/ka/ec/category.asp?c=muI1LaMNJrE&b=2537845&en=epKDLMMuEfIHJRNxG5LKJ5NILgLILQOvHeIFIROCKkITIaK">eStore</a></li>
                                                <li><a href="http://www.equip.org/site/giving">Donate</a></li>
                                                <li><a href="#">Bible Answer Man</a> 
                                                <ul>
						<li><a href="#">Hank Hanegraaff</a>
						<ul>
							<li><a href="http://www.equip.org/site/about_hank_hanegraaff">Hank's Bio</a></li>
							<li><a href="http://www.equip.org/site/letter_from_hank">A Letter from Hank</a></li>
							<li><a href="http://www.equip.org/hank_speaks_outs">Hank Speaks Out</a></li>
	                                                <li><a href="http://www.equipresources.org/site/c.muI1LaMNJrE/b.2551613/k.2F9F/Hank_Hanegraaff_Hanks_Resources.htm">Hank's Resources</a></li>
	                                                <li><a href="http://www.equipresources.org/site/c.muI1LaMNJrE/b.2522819/k.275D/Hank_Hanegraaff_The_Bible_Answer_Man_broadcast_Calendar/apps/cd/month.asp">Speaking Schedule</a></li>
						</ul>	
						</li>
                                                <li><a href="http://www.equipresources.org/site/c.muI1LaMNJrE/b.2522835/k.97B6/Bible_Answer_Man/apps/kb/cs/contactsearch.asp">Find a Station</a></li>
                                                <li><a href="http://www.equip.org/site/bamsupportteam">Bible Answer Man Support Team</a></li>
                                                <li><a href="http://www.oneplace.com/ministries/Bible_Answer_Man/">Listen to the Bible Answer Man</a></li>
												<li><a href="http://www.equip.org/site/legacy_reading_plan">The Legacy Reading Plan</a></li>
												</ul>
												</li>
						<li><a href="#">Christian Research Journal</a> 
							<ul>
 	                        <li><a href="http://journal.equip.org/issues/discern">Current Issues</a></li>
	                        <li><a href="http://journal.equip.org">All Issues</a></li>
	                        <li><a href="https://www.kintera.org/site/apps/ka/rg/register.asp?c=muI1LaMNJrE&b=2551595&en=aiLQL0MzEcLUI1MAJdLQIXMzFiI0IdNUKlLOI0OMIlIOKYMIKiKXLjK">Subscribe</a></li>
                            </ul>
						</li>
						<li><a href="#">Get Connected</a>
						 <ul>
						 	<li><a href="#">Follow Us on Twitter</a>
							<ul>
							<li><a href="http://www.twitter.com/CRInstitute">Christian Research Institute</a></li>
		                    <li><a href="http://www.twitter.com/cribam">The Bible Answer Man</a></li>
		                    <li><a href="http://www.twitter.com/CRJournal">Christian Research Journal</a></li>
							</ul>
							</li>
							<li><a href="http://hankhanegraaff.blogspot.com">Read Hank's Blog</a></li>
						 </ul>
						</li>
						<li><a href="#">About CRI</a>
                        <ul>
 	                    <li><a href="http://www.equip.org/site/about_christian_research_institute">About CRI</a></li>
 	                    <li><a href="http://www.equip.org/site/mission">Our Mission</a></li>
	                    <li><a href="http://www.equip.org/site/goals">Our Goals</a></li>
	                    <li><a href="http://www.equip.org/site/beliefs">Our Beliefs</a></li>
	                    <li><a href="http://www.equip.org/site/history">Our History</a></li>
	                    <li><a href="http://www.equip.org/site/essentials">Essentials of Faith</a></li>
	                    <li><a href="http://www.equip.org/site/cri_canada">CRI Canada</a></li>
	                    <li><a href="http://www.equip.org/site/giving">Support CRI</a></li>
                        </ul>
                        </li>
						<li><a href="http://www.equip.org/site/contact">Contact CRI</a></li>
					</ul>
					</ul>
					<br />
				</div>
			</div>
<div id="inner_wrap">

<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script><script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<h1>Search this site</h1>
	<p>
	Enter one or more keywords to search for using the Zoom Search Engine.<br />
	Note that '*' and '?' wildcards are supported.
	</p>	
	<!--ZOOMSEARCH-->

</div>
</div>
</div>


<!-- RefTagger from Logos. Visit http://www.logos.com/reftagger. This code should appear directly before the </body> tag. -->
<script src="http://bible.logos.com/jsapi/referencetagging.js" type="text/javascript"></script>
<script type="text/javascript">
    Logos.ReferenceTagging.lbsBibleVersion = "NKJV";
    Logos.ReferenceTagging.lbsLinksOpenNewWindow = true;
    Logos.ReferenceTagging.lbsLibronixLinkIcon = "dark";
    Logos.ReferenceTagging.lbsNoSearchTagNames = [ "h1", "h2", "h3" ];
    Logos.ReferenceTagging.tag();
</script>



</body>
</html>
